<h2>Coming up Festivals &raquo</h2>

<div id="mainWrap">
	<% @festivals.each do |festival| %>
		<div class="row">
			<%= link_to image_tag(festival.photo.url(:thumb)), festival, :class => "festImage" %>
			<h3><%= festival.title %></h3>
			<div class="place"><%= festival.country %> / <%= festival.city %></div>												
			<div class="dates">
				<time datetime="<%=festival.from%>"><%= festival.from.strftime("%d-%m") %></time>- <%= festival.to.strftime("%d-%m") %>
			</div>							
		</div>
	<% end %>
</div>


